#Activar RewriteEngine
RewriteEngine On

#RewriteBase /mcdc
DirectoryIndex index.php

#prohibir la navegacion de los directorios
Options All -Indexes

#AddType application/octet-stream .mp3
#AddType application/octet-stream .ogv
#AddType application/octet-stream .mp4

#Protect the .ogv File

# Experimento Refactoring

################################################
############# movie section
################################################
RewriteRule ^detail/(\d+)/?$ detail.php?id=$1
RewriteRule ^detail/ajax.php/?$ ajax.php

RewriteRule ^online/(\d+)/?$ online.php?id=$1
RewriteRule ^online/ajax.php/?$ ajax.php
RewriteRule ^result/ajax.php/?$ ajax.php

RewriteRule ^result/([\s\S]+)/?$ result.php?title=$1
RewriteRule ^getfile/(\d+)/?$ get_file.php?id=$1
RewriteRule ^moremovie/?$ more_movie.php
RewriteRule ^moremusic/?$ more_music.php
RewriteRule ^index/?$ index.php
RewriteRule ^music/(\d+)/?$ music.php?id=$1
